body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: 'Fira Sans', sans-serif;
  color: #3b3b3b;

}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

h1 {
  font-size: 2.2rem;
  font-weight: 500;
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

h3 {
  font-size: 1.1rem;
  font-weight: 500;
}

.site-container {
  margin-left: 24px;

}

/* nav bar */

header {
  background-color: white;
  height: 64px;
  width: 100%;
  z-index: 1;
  position: fixed;
  align-items: center;
  display: flex;

}

header li {
  display: inline-block;
  align-content: center;
  padding-right: 16px;
}

header a {
  text-decoration: none;
  color: inherit;

}

header a:hover {
  color: #0074D9;
}

nav {
  margin-right: 20px;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 24px;

}

.logo img {
  height: 40px;

}

.logo span {
  margin-left: 5px;
  font-size: 1.8rem;
}

.main-content {
  position: relative;
  top: 64px;


}




/* Banner */

.banner {
  background-color: #e4e4e4;
  display: flex;
  align-items: center;
  width: 100% !important;
  height: auto;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-left: -24px;
  padding-right: 50px;
}

.banner-pic {
  width: 60%;
  height: 400px;
  background-image: url("../../resources/images/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 24px;
}

.cta {
  padding-left: 40px;

}

.cta span {
  font-size: 1.2rem;
  line-height: 1.2;
  font-weight: 400;
}

button {
  background-color: #3b3b3b;
  border: none;
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  width: 100%;
  border-radius: 2px;

}

button:hover {
  background-color: #0074D9;
}

/*Section 1*/

.info-heading h2 {
  display: flex;
  align-items: center;
  margin-top: 32px;
  margin-bottom: 24px;
  font-size: 2rem;
}

.info-heading p {
  display: flex;
  align-items: center;
  margin-top: 0;
  font-weight: 300;
  line-height: 1.8;
}

.information {
  display: flex;
  align-items: flex-start;
  width: 100% !important;
  height: auto;


}

.info-left-side {
  width: 60%;
  margin-top: 32px;
}

.info-left-side img {
  width: 100%;
}

.info-right-side {
  border-left-style: solid;
  border-color: #efefef;
  border-width: thin;
  margin-left: 24px;
  height: 100%;
  width: 423px;
}

.info-text span {
  font-size: 0.8rem;
  font-weight: 300;
}

.info-text h3 {
  margin-bottom: 8px;
}

.info-text a {
  font-size: 0.8rem;
  font-weight: 300;
  color: #0074D9;
}

.info-text p {
  margin-top: 8px;
}

.info-box-1 {
  display: flex;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: #efefef;
  border-bottom-style: solid;
  border-bottom-width: thin;
}

.info-1 {
  width: 35%;
  height: 150px;
  background-image: url("../../resources/images/information-orientation.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 16px;

}

.info-text {
  padding-left: 16px;
}

.info-box-2 {
  display: flex;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 16px;

}

.info-2 {
  width: 35%;
  height: 150px;
  background-image: url("../../resources/images/information-campus.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 16px;

}

.info-box-4 {
  display: flex;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 180px;
  background-color: #efefef;
  padding-bottom: 16px;
  padding-top: 16px;
}

.info-4 {
  width: 35%;
  height: 150px;
  background-image: url("../../resources/images/information-guest-lecture.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 16px;

}

/*Section 2*/

#section2 {
  display: flex;
  justify-content: center;
  background-color: #efefef;
  margin-left: -24px;
  padding-left: 24px;
  padding-bottom: 32px;
}

@media only screen and (max-width: 520px) {
  #section1 {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 3rem;
  }

}

#section2 h1 {
  width: 800px;
  text-align: center;
  padding: 32px 0;
  margin: 0 0;

}

.icons {
  width: 850px;
  align-content: center;
  margin: auto;
}

.icon {
  flex-direction: column;
  margin-right: 8px;
  margin-left: 8px;
  width: 250px;
  background-color: white;
  height: 290px;
  margin-bottom: 16px;
}

.icon img {
  width: inherit;
}

.icon span {
  display: block;
}

.description {
  margin-top: -3px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  padding-bottom: 32px;
}

.description h2 {
  font-size: 1.4rem;
  font-weight: 400;
  margin-top: 0px;
}

.description h3 {
  font-size: 1rem;
  font-weight: 300;
  margin-top: 0px;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.description span {
  font-size: 0.8rem;
  font-weight: 300;
  margin-top: 0px;

}





/*Section 3*/

.video-left-side {
  width: 60%;
}

.video-container {
  display: flex;
  align-items: flex-start;
  width: 100% !important;
  height: auto;
  margin-bottom: 32px;

}

.title h1 {
  text-align: center;
  margin-top: 32px;
  margin-bottom: 32px;
}


/*.caption {
  margin-top: 287px;
}*/

video {
  width: 100%;
}

.caption h2 {
  display: flex;
  align-items: center;
  margin-top: 32px;
  margin-bottom: 24px;
  font-size: 2rem;
}

.caption p {
  display: flex;
  align-items: center;
  margin-top: 0;
  font-weight: 300;
  line-height: 1.8;
}



.video-right-side {
  margin-left: 16px;
  height: 100%;
  width: 423px;
}

.video-box-2 {
  display: flex;
  align-items: center;
  height: 168px;

}

.video-2 {
  width: 35%;
  height: 132px;
  background-image: url("../../resources/images/thesis-now-and-then.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 16px;

}

.video-2-text {
  padding-left: 16px;
}

.video-box-1 {
  display: flex;
  align-items: center;
  background-color: #efefef;
  height: 168px;

}

.video-1 {
  width: 35%;
  height: 132px;
  background-image: url("../../resources/images/thesis-fisma.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 16px;


}

.video-1-text {
  padding-left: 16px;
}

/*footer*/
footer {
  background-color: #ffffff;
  border-top-style: solid;
  border-top-width: thin;
  border-color: #efefef;
  padding: 1.5rem 24px;
  height: 62px;
  color: #787878;
  margin-left: -24px;
}

footer .content {
  display: flex;
  font-size: .75rem;
}

footer .copyright {
  flex-grow: 1;
}
