body {
  margin: 0;
  padding: 0;
  font-size: 15px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

/* nav bar */

header {
  background-color: white;
  height: 64px;
  width: 100%;
  z-index: 1;
  position: fixed;
  align-items: center;
  display: flex;

}

header li {
  display: inline-block;
  align-content: center;
  padding-right: 16px;
}

header a {
  text-decoration: none;
}

nav {
  margin-right: 20px;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 24px;

}

.logo img {
  height: 40px;
}

.logo span {
  margin-left: 5px;
}

.main-content {
  position: relative;
  top: 64px;


}

.site-container {
  margin-left: 24px;

}


/* Banner */

.banner {
  background-color: #e4e4e4;
  display: flex;
  align-items: center;
  width: 100% !important;
  height: auto;
  padding-top: 32px;
  padding-bottom: 32px;

}

.banner-pic {
  width: 60%;
  height: 400px;
  background-image: url("../../resources/images/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}

.cta {
  padding-left: 40px;

}

button {
  background-color: grey;
  border: none;
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  width: 100%;
  border-radius: 2px;

}

/*Section 1*/

.section1 {
  display: flex;
  align-items: center;
  width: 100% !important;
  height: auto;

}

.info-heading {
  margin-top: 287px;
}

.information {
  width: 60%;
  height: 255px;
  background-image: url("../../resources/images/information-main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 32px;
  margin-bottom: 32px;
  align-self: flex-start;

}

.info-right-side {
  border-left-style: solid;
  border-color: #efefef;
  border-width: thin;
  margin-left: 24px;
  height: 100%;
  width: 423px;
}

.info-box-1 {
  display: flex;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: #efefef;
  border-bottom-style: solid;
  border-bottom-width: thin;
}

.info-1 {
  width: 35%;
  height: 110px;
  background-image: url("../../resources/images/information-orientation.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 16px;

}

.info-1-text {
  padding-left: 16px;
}

.info-box-2 {
  display: flex;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 16px;

}

.info-2 {
  width: 35%;
  height: 110px;
  background-image: url("../../resources/images/information-campus.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 16px;

}

.info-2-text {
  padding-left: 16px;
}

.info-box-3 {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  background-color: #efefef;
  padding-bottom: 16px;
  padding-top: 16px;
  border-bottom: #efefef;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom: #4f4f4f;
  border-top-style: solid;
  border-top-width: thin;
  border-top: #efefef;
}

.info-3 {
  width: 35%;
  height: 110px;
  background-image: url("../../resources/images/information-guest-lecture.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 16px;

}

.info-3-text {
  padding-left: 16px;
}




/*Section 2*/

#section1 {
  display: flex;
  justify-content: center;
  background-color: #efefef;
}

@media only screen and (max-width: 520px) {
  #section1 {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 3rem;
  }

}

#section1 h1 {
  width: 800px;
  text-align: center;
}

.icons {
  width: 850px;
  align-content: center;
  margin: auto;
}

.icon {
  flex-direction: column;
  margin: 8px;
  width: 250px;
}

.icon img {
  width: inherit;
}

.icon span {
  display: block;
}

.description {
  margin-top: -16px;
  background-color: white;
  padding-left: 16px;
  padding-top: 16px;
  padding-bottom: 32px;
}




.feature .image-container {
  margin: 0 auto;
}

.feature h2 {
  padding-bottom: .5rem;
  font-size: 2.25rem;
  font-weight: bold;
  color: #4a4a4a;
}

.feature h3 {
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 300;
  color: #4a4a4a;
}

/*Section 3*/

.video-container {
  display: flex;
  align-items: center;
  width: 100% !important;
  height: auto;

}

.title h1 {
  text-align: center;
}


.caption {
  margin-top: 287px;
}

.video {
  width: 60%;
  height: 255px;
  background-image: url("../../resources/images/information-main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 32px;
  margin-bottom: 32px;
  align-self: flex-start;

}

.video-right-side {
  margin-left: 16px;
  height: 100%;
  width: 423px;
}

.video-box-2 {
  display: flex;
  align-items: center;
  height: 168px;

}

.video-2 {
  width: 35%;
  height: 132px;
  background-image: url("../../resources/images/thesis-now-and-then.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 16px;

}

.video-2-text {
  padding-left: 16px;
}

.video-box-1 {
  display: flex;
  align-items: center;
  background-color: #efefef;
  height: 168px;

}

.video-1 {
  width: 35%;
  height: 132px;
  background-image: url("../../resources/images/thesis-fisma.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 16px;


}

.video-1-text {
  padding-left: 16px;
}
