body {
  margin: 0;
  padding: 0;
  font-size: 15px;
}

/* nav bar */

header {
  background-color: white;
  height: 64px;
  width: 100%;
  z-index: 1;
  position: fixed;
  align-items: center;
  display: flex;

}

header li {
  display: inline-block;
  align-content: center;
  padding-right: 16px;
}

header a {
  text-decoration: none;
}

nav {
  margin-right: 20px;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 24px;

}

.logo img {
  height: 40px;
}

.logo span {
  margin-left: 5px;
}

.main-content {
  position: relative;
  top: 64px;
  display: flex;
  align-items: center;
  justify-content: flex-start;

}

.site-container {
  margin-left: 24px;
}


/* Banner */

.banner {
  background-color: #e4e4e4;
  display: flex;
  align-items: center;
  width: 100% !important;
  height: auto;
  padding-top: 32px;
  padding-bottom: 32px;
}

.banner-pic {
  width: 60%;
  height: 400px;

  background-image: url("../../resources/images/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}

.banner-pic img {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: red;

}

.cta {
  padding-left: 40px;

}

.cta span {
  margin-top: 400px;
}

button {
  background-color: grey;
  border: none;
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  width: 100%;
  border-radius: 2px;
}
